@model LiteCommerce.Admin.Models.CategoryPaginationResult
@{
    ViewBag.Title = "Manage categories";
    int i = 0;
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Catelory" method="get">
            <div class="input-group input-group-sm">
                <input name="searchValue" type="text" class="form-control" placeholder="Input search value..." value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<form action="~/Catelory/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Category. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Catelory/Input" class="btn btn-sm btn-primary">Add Categoy</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Categoy</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox"id="selectall"  />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Category Name</th>
                        <th style="width:auto">Description</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Data)
                    {
                        <tr>
                            <td>
                                <input class="checkbox__item" type="checkbox" name="categoryIDS" value="@category.CategoryID"/>
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#0094ff; font-weight:bold; display:block">
                                    @category.CategoryName
                                </span>
                            </td>
                            <td>
                                <span>@category.Description</span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Catelory/Input/@category.CategoryID">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Catelory?page=1&searchValue=@Model.SearchValue">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    if (page == Model.Page)
                    {
                        <li class="active"><a href="#">@page</a></li>
                    }
                    else
                    {
                        <li><a href="~/Catelory?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                    }

                }
                <li><a href="~/Catelory?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>