@model LiteCommerce.Admin.Models.ProductAttributeResult

@{
    int i = 0;
}
<div class="box box-primary">
    <!-- form start -->
    <form role="form" action="~/Product/Input" method="post" enctype="multipart/form-data">
        <div class="box-header text-right">
            <a href="~/Product">Back to List</a>
        </div>
        <div style="color: red; font-weight: bold">@Html.ValidationSummary()</div>
        <div class="box-body">
            <input type="hidden" name="ProductID" value="@Model.Product.ProductID">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Product Name:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product Name" value="@Model.Product.ProductName" name="ProductName">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Supplier:</label>
                                <select class="form-control custom-select" name="SupplierID">
                                    @foreach (var sup in SelectListHelper.Suppliers())
                                    {
                                        if (Model.Product.SupplierID == Convert.ToInt32(sup.Value))
                                        {
                                            <option value="@sup.Value" selected>@sup.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@sup.Value">@sup.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Category:</label>
                                <select class="form-control custom-select" name="CategoryID">
                                    @foreach (var cat in SelectListHelper.Categories())
                                    {
                                        if (Model.Product.CategoryID == Convert.ToInt32(cat.Value))
                                        {
                                            <option value="@cat.Value" selected>@cat.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@cat.Value">@cat.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quantity Per Unit:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Quantity Per Unit" value="@Model.Product.QuantityPerUnit" name="QuantityPerUnit">
                    </div>
                    <div class="form-group">
                        <label>Unit Price:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Unit Price" value="@Model.Product.UnitPrice" name="UnitPrice">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group text-center">
                        @if (string.IsNullOrEmpty(Model.Product.PhotoPath))
                        {
                            <img style="object-fit:cover; width:300px;  height:200px;" id="showThumb" class="img-fluid" src="~/Images/Uploads/NoImage.png">
                        }
                        else
                        {
                            <img style="object-fit:cover; width:300px;  height:200px;" id="showThumb" class="img-fluid" src="~/Images/Uploads/@Model.Product.PhotoPath">
                        }
                    </div>
                    <div class="input-group">
                        <label>Photo Path:</label>
                        <input type="file" id="my_input_file" name="uploadFile" accept=".png, .jpg">
                        <input type="hidden" name="PhotoPath" value="@Model.Product.PhotoPath" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" placeholder="Description" rows="4" name="Descriptions">@Model.Product.Descriptions</textarea>
            </div>
        </div>
        <input type="hidden" name="method" value="@ViewBag.Method" />
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Product">
                Cancel
            </a>
        </div>
    </form>
    @if (ViewBag.Method == "Edit")
    {
        <form action="~/Product/DeleteAttribute" method="post">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-8" style="color:brown">
                    <b>List attributes of product "@Model.Product.ProductName"</b>
                </div>
                <input type="hidden" name="productID" value="@Model.Product.ProductID" />
                <div class="col-md-4 text-right">
                    <div class="btn-group">
                        <a href="~/Product/Attribute?ProductID=@Model.Product.ProductID" class="btn btn-sm btn-primary">Add Attribute</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete Attributes</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="background-color:tan;">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectall" />
                        </th>
                        <th width="50">#</th>
                        <th>Attribute Name</th>
                        <th>Attribute Value</th>
                        <th>Display Order</th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attr in Model.ProductAttributes)
                    {
                        <tr>
                            <td>
                                <input class="checkbox__item" type="checkbox" name="attributeIDs" value="@attr.AttributeID" />
                            </td>
                            <td>@(++i)</td>
                            <td>@attr.AttributeName</td>
                            <td>@attr.AttributeValues</td>
                            <td>@attr.DisplayOrder</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Product/Attribute?ProductID=@attr.ProductID&AttributeID=@attr.AttributeID">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    }
</div>

