@model LiteCommerce.Admin.Models.CustomerPaginationResult
@{
    ViewBag.Title = "Manage Customer";
    int i = 0;
}

<div class="box box-primary">
    <div class="box-body">
        <form role="form" action="~/Customer" method="get">
            <div class="input-group input-group-sm">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.SearchValue,
                                           new
                                                {
                                                    @class = "form-control",
                                               @placeholder = "Input search value..."
                                                })

                    @*<input name="searchValue" type="text" class="form-control" placeholder="Input search value..." value="@Model.SearchValue">*@
                </div>
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.CountryName,
                                                SelectListHelper.Countries(),
                                                new { @class = "form-control" })
                </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<form action="~/Customer/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Suppliers. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Customer/Input" class="btn btn-sm btn-primary">Add Customer</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Customer</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectall" />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Name</th>
                        <th style="width:auto">Company</th>
                        <th style="width:200px">Address</th>
                        <th style="width:200px">Contact Info</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox__item" name="customerIDs" value="@customer.CustomerID" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#0094ff; font-weight:bold; display:block">
                                    @customer.ContactName
                                </span>
                                <span style="color:#646464">
                                    @customer.ContactTitle
                                </span>
                            </td>
                            <td>
                                <span>@customer.CompanyName</span>
                            </td>
                            <td>
                                <span style="display:block">@customer.Address</span>
                                <span>@customer.City - @customer.Country</span>
                            </td>
                            <td>
                                <span style="display:block"><i class="fa fa-phone"></i> @customer.Phone</span>
                                <span style="display:block"><i class="fa fa-fax"></i> @customer.Fax</span>

                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Customer/Input/@customer.CustomerID">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Customer?page=1&searchValue=@Model.SearchValue">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    if (page == Model.Page)
                    {
                        <li class="active"><a href="#">@page</a></li>
                    }
                    else
                    {
                        <li><a href="~/Customer?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                    }

                }
                <li><a href="~/Customer?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>