@model LiteCommerce.Admin.Models.ShipperPaginationResult
@{
    ViewBag.Title = "Manage Shippers";
    int i = 0;
}


<div class="box box-primary">
    <div class="box-body">
        <form action="~/Shipper" method="get">
            <div class="input-group input-group-sm">
                <input name="searchValue" type="text" class="form-control" placeholder="Input search value..." value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<form action="~/Shipper/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Shippers. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Shipper/Input" class="btn btn-sm btn-primary">Add Shipper</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Shipper</button>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectall"  />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Company Name </th>
                        <th style="width:200px">Contact Info</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shipper in Model.Data)
                    {
                        <tr>
                            <td>
                                <input class="checkbox__item" type="checkbox" value="@shipper.ShipperID" name="shipperIDs" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#0094ff; font-weight:bold; display:block">
                                    @shipper.CompanyName
                                </span>
                            </td>
                            <td>
                                <span style="display:block"><i class="fa fa-phone"></i> @shipper.Phone</span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Shipper/Input/@shipper.ShipperID">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                @if (Model.PageCount > 1)
                {
                    <li><a href="~/Shipper?page=1&searchValue=@Model.SearchValue">«</a></li>
                }

                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    if (page == Model.Page)
                    {
                        <li class="active"><a href="#">@page</a></li>
                    }
                    else
                    {
                        <li><a href="~/Shipper?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                    }

                }
                @if (Model.PageCount > 1)
                {
                    <li><a href="~/Shipper?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
                }

            </ul>
        </div>
    </div>
</form>