@model LiteCommerce.Admin.Models.OrderPaginationResult
@{
    ViewBag.Title = "Order Manager";
    int i = 0;
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Order" method="GET">
            <div class="input-group input-group-sm">
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.SearchValue,
                                    new
                                    {
                                        @class = "form-control",
                                        @placeholder = "Input search value..."
                                    })
                </div>
                <div class="col-sm-3">

                    @Html.DropDownListFor(m => m.Customer,
                                           SelectListHelper.Customer(),
                                           new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Employee,
                                           SelectListHelper.Employee(),
                                           new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Shipper,
                                           SelectListHelper.Shippers(),
                                           new { @class = "form-control" })
                </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<form action="~/Order/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Products. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-danger">Delete Products</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectall" />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:150px">Customer</th>
                        <th style="width:150px">Employee</th>
                        <th style="width:230px">Date</th>
                        <th style="width:100px">Freight</th>
                        <th style="width:auto">Shipper</th>
                        <th style="width:auto">Ship Address</th>
                        <th style="width:60px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Data)
                    {
                        <tr>
                            <td>
                                <input class="checkbox__item" type="checkbox" name="productIDs" value="@order.OrderId" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#0094ff; font-weight:bold; display:block">
                                    @foreach (var customer in SelectListHelper.Customer())
                                    {
                                        if (order.CustomerID == customer.Value)
                                        {
                                            @customer.Text
                                        }
                                    }
                                </span>
                            </td>
                            <td>
                                @foreach (var employee in SelectListHelper.Employee())
                                {
                                    if (order.EmployeeID == Convert.ToInt32(employee.Value))
                                    {
                                        @employee.Text
                                    }
                                }
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-7"><b>Order Date: </b></div>
                                    <div class="col-sm-5">@string.Format("{0:dd/MM/yyyy}", order.OrderDate)</div>
                                    <div class="col-sm-7"><b>Required Date: </b></div>
                                    <div class="col-sm-5">@string.Format("{0:dd/MM/yyyy}", order.RequiredDate)</div>
                                    <div class="col-sm-7"><b>Shipped Date: </b></div>
                                    <div class="col-sm-5">@string.Format("{0:dd/MM/yyyy}", order.ShippedDate)</div>
                                </div>
                            </td>
                            <td>
                                @order.Freight
                            </td>
                            <td>
                                @foreach (var shipper in SelectListHelper.Shippers())
                                {
                                    if (order.ShipperID == Convert.ToInt32(shipper.Value))
                                    {
                                        @shipper.Text
                                    }
                                }
                            </td>
                            <td>
                                <span style="display:block">@order.ShipAddress</span>
                                <span>@order.ShipCity - @order.ShipCountry</span>
                            </td>
                            <td class="text-right" style="display:flex">
                                <a class="btn btn-sm btn-default" style="margin-right:10px;" title="Edit Order" href="~/Order/Input/@order.OrderId/">
                                    <i style="width:12px" class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-info" title="Order Detail" href="~/Order/Detail/@order.OrderId/">
                                    <i style="width:12px" class="fa fa-info"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-right">
            <ul class="pagination pagination-sm no-margin">
                <li><a href="~/Order?page=1&Customer=@Model.Customer&Employee=@Model.Employee&Shipper=@Model.Shipper&searchValue=@Model.SearchValue">«</a></li>
                @if (Model.Page > 3 && Model.Page <= Model.PageCount - 3)
                {
                    if (Model.Page - 3 > 0)
                    {
                        <li><a>...</a></li>
                    }
                    for (int page = Model.Page - 2; page <= Model.Page + 2; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Order?page=@page&Customer=@Model.Customer&Employee=@Model.Employee&Shipper=@Model.Shipper&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                    if (Model.Page + 3 <= Model.PageCount)
                    {
                        <li><a>...</a></li>
                    }
                }
                else if (Model.Page <= 3)
                {
                    var testpage = Model.PageCount;
                    if (Model.PageCount > 4)
                    {
                        testpage = Model.Page + 2;
                    }
                    for (int page = 1; page <= testpage; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Order?page=@page&Customer=@Model.Customer&Employee=@Model.Employee&Shipper=@Model.Shipper&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                    if (Model.PageCount > 4)
                    {
                        <li><a>...</a></li>
                    }
                }
                else
                {
                    if (Model.PageCount - 3 > 0)
                    {
                        <li><a>...</a></li>
                    }
                    for (int page = Model.Page - 2; page <= Model.PageCount; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Order?page=@page&Customer=@Model.Customer&Employee=@Model.Employee&Shipper=@Model.Shipper&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                }
                <li><a href="~/Order?page=@Model.PageCount&Customer=@Model.Customer&Employee=@Model.Employee&Shipper=@Model.Shipper&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>

